<template>
	<div>
		<div class="table-responsive" v-scroll="scroll" style="height:200px;">
			<table class="table table-striped table-borderless">
				<thead class="text-bold background-primary text-white">
					<tr>
						<th scope="col" v-for="(data, index) in headings" :key="index">{{ data }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(row, index) in tableData" :key="index" v-html="getResult(row)"></tr>
				</tbody>
			</table>
		</div>
		<div class="tablepagination mt-4 d-none" v-if="pagination">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">
							2
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</template>

<script>
export default {
    props: ['tableData', 'headings', 'pagination', 'loading', 'scroll'],
    data: ({ tableData }) => {
        return {
            rows: [],
            datas: tableData
        }
    },
    mounted() {
        
    },
    methods: {
        getResult(row) {
            let rowData = ''
            let _this = this
            // Loop columns
            row.forEach(function(col, colIndex) {
                let element = col.type ? col.type : 'td'

                rowData += `
                    <${element} ${_this.convertAttribute(col.attributes)}>${col.value}</${element}>
                `
            })

            return rowData
        },
        convertAttribute(attributes) {
            let attribute = ''

            if (attributes) {
                for (let col in attributes) {
                    attribute += `${col}="${attributes[col]}" `
                }
            }

            return attribute
        }
    }
};
</script>
